<!--_menu 作为公共模版分离出去-->
<!--nav-->
     <div id="nav">
        <ul>
         <li><a href="index.html">首页</a></li>
         <li><a href="about.html">关于我</a></li>
         <li><a href="shuo.html">php</a></li>
         <li><a href="riji.html">mysql</a></li>
         <li><a href="xc.html">前端技术</a></li>
         <li><a href="learn.html">网络安全</a></li>
         <li><a href="guestbook.html">留言板</a></li>
         <div class="clear"></div>
        </ul>
      </div>
       <script  type="text/javascript" src="__STATIC__/static/h-ui.index/js/nav.js"></script>
<!--nav end-->
<!--/_menu 作为公共模版分离出去-->