<!--_meta 作为公共模版分离出去-->
<!DOCTYPE HTML>
<html lang="zh-CN">
<head>
<meta charset="UTF-8">
<title>Dong个人博客</title>
<meta name="keywords" content="Dong个人博客" />
<meta name="description" content="" />
{load href="__STATIC__/static/h-ui.index/css/index.css" /}
{load href="__STATIC__/static/h-ui.index/css/style.css" /}
{load href="__STATIC__/static/h-ui.index/js/jquery1.42.min.js" /}
{load href="__STATIC__/static/h-ui.index/js/jquery.SuperSlide.2.1.1.js" /}

 <!--导入boostrap-->
 {load href="__STATIC__/lib/bootstrap-3.3.7-dist/css/bootstrap.css" /}
<!-- <link rel="stylesheet" href="css/index.css"/>
<link rel="stylesheet" href="css/style.css"/>

<script type="text/javascript" src="js/jquery1.42.min.js"></script>
<script type="text/javascript" src="js/jquery.SuperSlide.2.1.1.js"></script> -->
<!--[if lt IE 9]>
<script src="js/html5.js"></script>
<![endif]-->
</head>
<!--/meta 作为公共模版分离出去-->