{extend name='public/base'/}
{block name='header'}{/block} {//关掉头部}
{block name='menu'}{/block} {//关掉菜单}
{block name='seo'}
<title>{$title|default="标题"}</title>
<link href="__STATIC__/lib/webuploader/0.1.5/webuploader.css" rel="stylesheet" type="text/css" />
<meta name="keywords" content="{$keywords|default='关键字'}">
<meta name="description" content="{$desc|default='描述'}">
{/block}

{block name='content'}
<article class="cl pd-20">


	<form action="" method="post" class="form form-horizontal" id="form-articleCategory-edit">
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>分类名：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<input type="text" class="input-text" value="{$articleCategory_info.categoryName}" placeholder="" id="" name="categoryName">
			</div>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>状态：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<div class="switch" id="mySwitch" data-on-label="<i class='icon-ok icon-white'>显示</i>" data-off-label="<i class='icon-remove'>隐藏</i>">
	                <input type="checkbox" checked/>
	                <input type="hidden"   name="status" id="status" value="1" />
	             </div>
			</div>
		</div>
		<div class="row cl">
			<div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-3">
				<input class="btn btn-primary radius disabled" type="button" value="&nbsp;&nbsp;提交&nbsp;&nbsp;" id="submit" >
			</div>
		</div>
	</form>


</article>
{/block}

{block name='js'}
<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript" src="__STATIC__/lib/jquery.validation/1.14.0/jquery.validate.js"></script> 
<script type="text/javascript" src="__STATIC__/lib/jquery.validation/1.14.0/validate-methods.js"></script> 
<script type="text/javascript" src="__STATIC__/lib/jquery.validation/1.14.0/messages_zh.js"></script>   
<script type="text/javascript" src="__STATIC__/lib/webuploader/0.1.5/webuploader.min.js"></script> 
<script type="text/javascript" src="__STATIC__/lib/ueditor/1.4.3/ueditor.config.js"></script> 
<script type="text/javascript" src="__STATIC__/lib/ueditor/1.4.3/ueditor.all.min.js"> </script> 
<script type="text/javascript" src="__STATIC__/lib/ueditor/1.4.3/lang/zh-cn/zh-cn.js"></script>





<script>

	$(function(){

		var status = "{$articleCategory_info.status}";
	    if(status == "显示"){
	        $('#mySwitch').bootstrapSwitch('setState', true);
	        $("#status").val("1");
	    }else{
	        $('#mySwitch').bootstrapSwitch('setState', false);
	        $("#status").val("0");
	    }

	    //添加只设置下面
	    $('#mySwitch').on('switch-change', function (e,data,state) {
	      var $el = $(data.el) ,value = data.value;
	      if (data.value == true) {
	            $("#status").val("1");
	            } else {
	            $("#status").val("0");
	          
	        }
	    });

		//当用户修改了输入框内容时才触发
	    $("form").children().change(function(){
	        $("#submit").removeClass('disabled');
		});

		//ajax方式提交当前表单数据
        $("#submit").on("click", function(event){
            $.ajax({
				type: "POST",
				url: "{:url('ArticleCategory/editArticleCategory')}",
				data: $("#form-articleCategory-edit").serialize()+"&id={$articleCategory_info.id}",
				dataType: "json",
				success: function(data){
				    if (data.status == 1) {
						layer.alert(data.message,function(index){
                     		window.parent.location.reload();
                     		parent.layer.close(index);
                     	});
					} else {
                        alert(data.message);

					}
				}
			});

		})
        
	})
</script>
{/block}

</body>
</html>